<ion-content padding class="background">
  <h2>Sign Up</h2>
  <ion-item>
    <ion-label position='floating' color="primary" stacked>Username</ion-label>
    <ion-input #displayName type="text" color="primary"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position='floating' color='primary' stacked>Email</ion-label>
    <ion-input #email type="email" color="primary" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="light" position='floating' color="primary" stacked>Password</ion-label>
    <ion-input #password type="password" color="primary"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="light" position='floating' stacked>Confirm Password</ion-label>
    <ion-input #confirmPassword type="password"></ion-input>
  </ion-item>
  <ion-button style="margin-top:16px" expand='block' (click)="signUp(email.value, password.value, confirmPassword.value, displayName.value)">
    <ion-icon slot="end" name="log-in"></ion-icon>
    Sign Up
  </ion-button>
  <ion-button style="margin-top:16px" expand='block' (click)="navigateToLogin()">
    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    Already A User? Login
  </ion-button>
</ion-content>