<ion-card *ngIf="post" class="welcome-card">
  <div class="imageContainer">
      <img *ngIf="post.albumArt" [src]="post.albumArt"/>
      <img *ngIf="!spotifyService.playing"  (click)="post.postType == 'yt' ? playYoutube(post.songId) : play(post.songId)" class="btn" src="../../assets/icon/play.png"/>
      <img *ngIf="spotifyService.playing" (click)="pause()"  class="btn" src="../../assets/icon/pause.png"/>
  </div>

  <ion-card-header style="text-align:center">
    <ion-card-subtitle>{{ post.songName }}</ion-card-subtitle>
    <ion-card-title>{{ post.artistName }}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="user">
    <div text-wrap style="word-wrap: break-word;" (click)="viewProfile()">
    <b>{{user.displayName}}</b> {{ post.caption }}
    </div>
  </ion-card-content>
  <ion-row>
  <ion-buttons>
    <ion-col>
      <ion-button fill="clear" size="small" [color]="heartColor" (click)="liked ? removeLike(post.id) : addLike(post.id)">
        <ion-icon [name]="heartType"></ion-icon>
        <ion-note style="margin-left: 5px"> {{likes.length}} </ion-note>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button icon-left fill="clear" (click)="selectComments(post)" size="small" color="dark">
        <ion-icon name="text"></ion-icon>    
        <ion-note style="margin-left: 5px"> {{comments.length}} </ion-note>  
      </ion-button>
    </ion-col>
    <ion-col no-margin no-padding>
      <app-tagged-post-action-sheet [following]="following" [post]="post"> </app-tagged-post-action-sheet>
    </ion-col>
  </ion-buttons> 
  <ion-col style="margin-top:3%">
    <!-- <ion-note> {{ post.createdAt | dateTimeConvert: "" }} </ion-note> -->
  </ion-col>
  </ion-row>
</ion-card>