ion-card {
    border-radius: 22px;
    margin-right: 0;
}

ion-col {
    margin: 0;
    padding: 0;
}

ion-grid {
    margin: 0;
    padding: 0;
}

div {
    padding-left: 10px;
}

.usernameTag {
    margin-left: 25px;
    margin-top: 25px;
}

.timeSent {
    margin-top: 25px;
    margin-left: 15px;
}