<ion-item *ngIf="notification" (click)="selectNotification()" text-wrap>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="colClass">
          <fa-icon *ngIf="notification.type == 'comment'" [icon]="['fas','comments']"></fa-icon>
          <fa-icon *ngIf="notification.type == 'like'" [icon]="['fas','heart']"></fa-icon>
          <fa-icon *ngIf="notification.type == 'follow'" [icon]="['fas','user-plus']"></fa-icon>
      </ion-col>
      <ion-col size="9">
          <ion-label text-wrap>
              {{notification.body}} 
          </ion-label>
          <ion-note>
              {{displayCreatedAt | date: 'dd MMM hh:mm'}}
          </ion-note>
      </ion-col>
      <ion-col size="1" class="colClass">
          <ion-button fill="clear" color="medium" (click)="delteNotification()" size="small" style="width: 30px">
              <fa-icon [icon]="['fas','times']"></fa-icon>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>