<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-button slot='start' fill='clear' size="small" color="dark" (click)="exit()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="spotifyUser">
    Logged in as {{spotifyUser.display_name}}
    <ion-button shape='round' (click)="spotifyService.logout()" >Sign Out</ion-button>
  </ion-card>
  <ion-card *ngIf="user">
    Logged in as {{user.displayName}}
    <ion-button shape='round' (click)="logout()" >Sign Out</ion-button>
  </ion-card>
</ion-content>
