<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-button slot='start' fill='clear' size="small" color="dark" (click)="exit()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="spotifyUser" class="userCard">
    Connected With Spotify: {{spotifyUser.display_name}}
    <ion-button shape='round' (click)="spotifyService.logout()" >Sign Out</ion-button>
  </ion-card>
  <ion-card *ngIf="user" class="userCard">
    <ion-grid>
      <ion-row>
        <ion-col>
            <p>Logged in as {{user.displayName}}</p>
        </ion-col>
        <ion-col class="buttonCol">   
           <ion-button shape='round' (click)="logout()" >Sign Out</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item>
    <ion-label position="floating">Send us your feedback or bugs</ion-label>
    <ion-textarea #bug></ion-textarea>
  </ion-item>
  <ion-button shape='round' (click)="report(bug.value)">Send</ion-button>
</ion-content>
