<ion-card *ngIf="comment" text-wrap>
  <ion-card-content text-wrap>
    <ion-row>
        <ion-col>
            <b text-wrap>{{comment?.postedBy}}</b>
            <p text-wrap>{{comment?.content}}</p>
        </ion-col>
    
        <ion-col>
            <ion-buttons>
                <ion-button fill="clear" size="small" color="dark" (click)="deleteComment()" *ngIf="this.userid == this.comment.userID">
                    <fa-icon [icon]="['fas','times']"></fa-icon>
                </ion-button>
            </ion-buttons>
        </ion-col>
    </ion-row>
    
  </ion-card-content>
</ion-card>