<ion-content>

      <ion-grid class="profileGrid">
        <ion-row>
          <ion-col class="profilePictureContainer">
            <ion-avatar>
                <ion-img *ngIf="profilePicture" (click)="toggleBtn()" class="profilePicture" src="{{profilePicture}}"></ion-img>
              
                <ion-img *ngIf="!profilePicture" src="../../assets/icon/defaultProfilePic.jpg" (click)="toggleBtn()" class="profilePicture"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col aria-colspan="2">
              <div class="usernameContainer">
                  <ion-title class="usernameTitle">{{username}}</ion-title>
                  <ion-icon name="settings" id="cog" (click)="navigateToSettings()"></ion-icon>    
              </div>
              <p>Member since: </p>
              <p>{{memberSince | date: 'longDate' }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
  <div class="countersContiner">
    <ion-grid class="counterGrid">
        <ion-row>
            <ion-col class="borderRight">{{followersCounter}}</ion-col>
            <ion-col class="borderRight">{{followingCounter}}</ion-col>
            <ion-col class="borderTop">{{postsCounter}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="borderBoth">Followers</ion-col>
              <ion-col class="borderBoth">Following</ion-col>
              <ion-col class="borderDown">Posts</ion-col>
          </ion-row>
    </ion-grid>
  </div>
  <div>
      <ion-button *ngIf="toggled" class="imageButton" (click)="takePicture()">Camera<i class="fas fa-camera"></i></ion-button>
      <ion-button *ngIf="toggled" class="imageButton" (click)="selectImageFromGallery()"> Gallery <i class="fas fa-images"> </i> </ion-button>
  </div>
   <div>
      <ion-item class="textAreaClass">
          <ion-label *ngIf="userBioEmpty" style="margin:4px" position="floating">Enter your bio here...</ion-label>
          <ion-textarea rows="3" [(ngModel)]="userBio" (ionChange)="updateBio($event)"></ion-textarea>
      </ion-item>
   </div>
   <div class="bioBtnContainer">
      <ion-button (click)="saveBio()">Save Bio</ion-button>
   </div>


    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="yourposts" checked>
          <ion-note>Your {{yourPostsSelect}}</ion-note> 
          <ion-icon name="reorder" color="dark"></ion-icon>       
        </ion-segment-button>
        <ion-segment-button value="likedposts"> 
            <ion-note>Liked {{likedPostsSelect}}</ion-note>
            <fa-icon [icon]="['fas','heart']" ></fa-icon>
         </ion-segment-button>
      </ion-segment>
      <div *ngIf="yourPostsSelect == true" no-padding>
          <app-profile-post-list></app-profile-post-list>
      </div>
      <div *ngIf="likedPostsSelect == true" no-padding>
          <!-- <app-profile-liked-post-list></app-profile-liked-post-list> -->
      </div>
</ion-content>

