<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button slot="end">
        <ion-icon icon="search" id="search"></ion-icon>
      </ion-menu-button>
      <ion-title>Profile</ion-title>
      <ion-button slot="start" fill='clear' color='dark' style="margin-top:16px" (click)="navigateToSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-button (click)="takePicture()">Camera<i class="fas fa-camera"></i></ion-button>
      <ion-button (click)="selectImageFromGallery()"> Gallery <i class="fas fa-images"> </i> </ion-button>
    </ion-card-content>
    <ion-img style="width: 80px; height: 80px;" src="{{profilePicture}}"></ion-img>
  </ion-card>
</ion-content>

<app-profile-post-list></app-profile-post-list>