<ion-content>
      <ion-grid *ngIf="user" class="profileGrid">
        <ion-row>
          <ion-col size="5">
            <ion-avatar text-center>
                <ion-img *ngIf="user && !editing" (click)="toggleBtn()" class="profilePicture" src="{{user.profilePic}}"></ion-img>
                <ion-img *ngIf="!user.profilePic" src="../../assets/icon/defaultProfilePic.jpg" class="profilePicture"></ion-img>
                <fa-icon *ngIf="editing" [icon]="['fas', 'plus']"></fa-icon>  
            </ion-avatar>
          </ion-col>
          <ion-col>
              <div class="usernameContainer">
                  <ion-title class="usernameTitle">{{user.displayName}}</ion-title>
                  <ion-icon style="margin-right:4.5%;" name="create" class="cog" (click)="editing ? editing = false : editing = true"></ion-icon>    
                  <ion-icon name="settings" class="cog" (click)="navigateToSettings()"></ion-icon>    
              </div>
              <p>Member since: </p>
              <p>{{memberSince | date: 'longDate' }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="bio" *ngIf="!editing && user"> {{user.bio}} </p>
      <div *ngIf="user">
         
          <ion-item *ngIf="editing" class="textAreaClass">
              <ion-label style="margin:4px" position="floating">Enter your bio here...</ion-label>
              <ion-textarea rows="3" #bio></ion-textarea>
              <ion-button style="width:100%;height:30px" (click)="saveBio(bio.value)">Save Bio</ion-button>
          </ion-item>
       </div>
    <ion-grid class="counterGrid">
        <ion-row>
            <ion-col class="borderRight">{{followersCounter}}</ion-col>
            <ion-col class="borderRight">{{followingCounter}}</ion-col>
            <ion-col class="borderTop">{{postsCounter}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="borderBoth">Followers</ion-col>
              <ion-col class="borderBoth">Following</ion-col>
              <ion-col class="borderDown">Posts</ion-col>
          </ion-row>
    </ion-grid>
  <div>
      <ion-button class="imageButton" (click)="takePicture()">Camera<i class="fas fa-camera"></i></ion-button>
      <ion-button  class="imageButton" (click)="selectImageFromGallery()"> Gallery <i class="fas fa-images"> </i> </ion-button>
  </div>

    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="posts" checked>
          <ion-row>
            <ion-col size="12" >
                <fa-icon class="segmentIcon" [icon]="['fas', 'align-justify']"></fa-icon>  
            </ion-col>
          </ion-row>
        </ion-segment-button>
        <ion-segment-button value="likes"> 
          <ion-row>
            <ion-col size="12" class="segmentCol">
                <fa-icon class="segmentIcon" [icon]="['fas','heart']" ></fa-icon>
            </ion-col>
          </ion-row>
         </ion-segment-button>
      </ion-segment>
      <div *ngIf="yourPostsSelect" no-padding>
          <app-profile-post-list></app-profile-post-list>
      </div>
      <div *ngIf="likedPostsSelect" no-padding>
          <app-profile-liked-post-list></app-profile-liked-post-list>
      </div>
</ion-content>

