.card {
    padding: 50px;
    
}
fa-icon {
    font-size: 32px;
    color:  rgb(54, 49, 49);
}
ion-card-title {
    color:  rgb(54, 49, 49);
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 1.5%;
}
ion-card {
    --background:linear-gradient(to bottom, #fafafa, #e7e7fa, #d0d5fc, #b2c5fd, #8cb6ff)
}

//background-image: linear-gradient(to bottom, #fafafa, #dddcfb, #bbbffc, #8fa5fd, #4c8dff);