.card {
    padding: 55px;
    
}
fa-icon {
    font-size: 32px;
    font-weight: lighter;
    color: #fafafa;
}
ion-card-title {
    color:  #fafafa;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 1.5%;
}
ion-card {
    --background:linear-gradient(to top, #76a2f3, #cbdcfa);
}

//background-image: linear-gradient(to bottom, #fafafa, #dddcfb, #bbbffc, #8fa5fd, #4c8dff);