.card {
    padding: 55px;
    
}
fa-icon {
    font-size: 32px;
    font-weight: lighter;
    color: #0079AB;
}
ion-card-title {
    color:  #0079AB;
    font-size: 24px;
    font-weight:500 ;
    margin-bottom: 1.5%;
}