<ion-content>
  <ion-card class="card" id="chat" text-center (click)="openChats()">
    <ion-card-title>Chats</ion-card-title>
    <ion-card-subtitle>
        <fa-icon [icon]="['fas','user']"></fa-icon>
    </ion-card-subtitle>
  </ion-card>
  <ion-card class="card" id="group" text-center>
    <ion-card-title>Groups</ion-card-title>
    <ion-card-subtitle>
        <fa-icon [icon]="['fas','users']"></fa-icon>
    </ion-card-subtitle>
  </ion-card>
  <ion-card class="card" id="new" text-center>
    <ion-card-title>New Releases</ion-card-title>
    <ion-card-subtitle>
        <fa-icon [icon]="['fas','headphones']"></fa-icon>
    </ion-card-subtitle>
  </ion-card>
  <ion-card class="card" id="hashtag" text-center>
    <ion-card-title>Communities</ion-card-title>
    <ion-card-subtitle>
        <fa-icon [icon]="['fab','slack-hash']"></fa-icon>
    </ion-card-subtitle>
  </ion-card>
</ion-content>
