.colClass {
    display: flex;
    align-items: center;
}

ion-row{
    width: 100%;
    height: auto;

}

ion-grid {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}

ion-col { 
    width: 100%;
}