<!-- <ion-card *ngIf="currentChat" (click)="selectChat(currentChat)">
  <ion-card-header>
    <div *ngIf="otherUser">
        <b>{{otherUser.displayName}}</b>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-grid text-wrap>
      <ion-row>
        <ion-col size="9" *ngIf="lastMessage">
            <p *ngIf="user.displayName != lastMessage.senderName">{{otherUser.displayName}}: {{lastMessage.message}}</p>
            <p *ngIf="user.displayName == lastMessage.senderName">You: {{lastMessage.message}}</p>
        </ion-col>
        <ion-col size="3" *ngIf="lastMessage">     
           <p class="time" *ngIf="newCreatedAt != null && newCreatedAt != ''">{{newCreatedAt}}</p>
        </ion-col>
        <ion-col size="12" *ngIf="!lastMessage">
          <p>No messages so far, why not say hi?</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card> -->

<!-- NEW -->

<ion-grid *ngIf="currentChat" (click)="selectChat(currentChat)" text-wrap>
    <ion-row>
      <ion-col size="2" class="colClass">
          <fa-icon [icon]="['fas','comments']"></fa-icon>
      </ion-col>
      <ion-col size="10" >
        <ion-row>
          <ion-col size="12">
              <ion-label *ngIf="otherUser" text-wrap>
                  {{otherUser.displayName}} 
              </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" *ngIf="!blockedByUser">
              <ion-note *ngIf="lastMessage && displayCreatedAt != null && displayCreatedAt != ''">
                  {{senderName}}: {{lastMessage.message}} 
                  <!-- 20 string length -->
              </ion-note>
              <ion-note *ngIf="!lastMessage">
                    No messages so far, why not say hi?
              </ion-note>
          </ion-col>
          <ion-col size="4" *ngIf="!blockedByUser">
              <ion-note *ngIf="lastMessage && displayCreatedAt != null && displayCreatedAt != ''">
                  {{displayCreatedAt | date: 'dd MMM HH:mm'}}
              </ion-note>
          </ion-col>
          <ion-col size="12" *ngIf="blockedByUser">
            <ion-note color="danger">
              You are blocked by this user.
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>