<ion-tabs>
  <ion-tab-bar slot="bottom">
   
    <ion-tab-button tab="home">
      <fa-icon [icon]="['fas', 'home']" ></fa-icon>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <fa-icon [icon]="['fas','compass']" ></fa-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <fa-icon [icon]="['fas','bell']" ></fa-icon>
    </ion-tab-button>
   
    <ion-tab-button tab="profile">
      <fa-icon [icon]="['fas','user']"></fa-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

  <ion-fab vertical="bottom" horizontal="center" (click)="presentModal()">
      <ion-fab-button>
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-tabs>
