<ion-tabs #myTabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Discover" icon="compass" href="/tabs/(discover:discover)">
    <ion-router-outlet name="discover"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Notifications" icon="notifications" href="/tabs/(notifications:notifications)">
    <ion-router-outlet name="notifications"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
