<ion-content padding class="background">
  <h2>Login</h2>
  <ion-item>
    <ion-label  position="floating" stacked>Email</ion-label>
    <ion-input #email type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="floating" stacked>Password</ion-label>
    <ion-input #password type="password"></ion-input>
  </ion-item>
  <ion-button style="margin-top:16px" expand='block' (click)="login(email.value, password.value)">
    <ion-icon slot="end" name="log-in"></ion-icon>
    Sign In
  </ion-button>
  <!-- <ion-button style="margin-top:16px" expand='block' (click)="signInWithSpotify()">
    <ion-icon slot='end' style="color:white;font-size: 22px" src="/assets/icon/spotify.svg"></ion-icon>
    Continue With Spotify
  </ion-button> -->
  <ion-button style="margin-top:16px" expand='block' (click)="navigateToSignUp()">
    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    Not A User? Sign Up Here
  </ion-button>
  <!-- <ion-button style="margin-top:16px" expand='block'>
    <ion-icon slot="end" name="logo-facebook"></ion-icon>
    Continue with Facebook
  </ion-button>
  <ion-button style="margin-top:16px" expand='block'>
    <ion-icon slot="end" name="logo-google"></ion-icon>
    Continue with Google
  </ion-button> -->
</ion-content>

