<ion-content padding class="background">
  <ion-text color="primary">
      <h2 text-center>Login</h2>
  </ion-text>
  
  <ion-item>
    <ion-label color="primary" position="floating" stacked>Email</ion-label>
    <ion-input #email color="dark" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating" stacked>Password</ion-label>
    <ion-input color="dark" #password type="password"></ion-input>
  </ion-item>

  <ion-row>
    <ion-button style="margin-top:16px;margin-left:1.5%;width: 48%" expand="block" (click)="login(email.value, password.value)">
      Sign In
    </ion-button>
    <ion-button style="margin-top:16px;width: 48%" expand="block" (click)="navigateToSignUp()">
      Sign Up
    </ion-button>
  </ion-row>
  <ion-row style="margin-top:16px" justify-content-center>
      <ion-note> -- or continue with --</ion-note>  
  </ion-row>
  <ion-row>
    
    <ion-button id="google" style="margin-top:8px;width: 100%" expand='block' (click)="signInWithGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Google
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button id="fb" style="margin-top:8px;width: 100%" expand='block'>
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Facebook
    </ion-button>
  </ion-row>
</ion-content>