<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="primary" stacked>Email:</ion-label>
    <ion-input #email type="email" placeholder="Email Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Password:</ion-label>
    <ion-input #password type="password" placeholder="Password Input"></ion-input>
  </ion-item>
  <button ion-button round (click)="firebaseLogin(email.value, password.value)" ion-button round>Log In</button>
</ion-content>
