<ion-header>
  <ion-toolbar>
    <ion-title text-center>Post Song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="wrapper">
    <img [src]="post.albumArt" alt="albumArt">
    <ion-label style="text-align:center; font-size: 22px">
      <h2>{{ post.songName}}</h2>
      <h2>{{ post.artistName }}</h2>
    </ion-label>
    <ion-item no-padding>
      <ion-label style="margin-left:4px" position="floating">Share your thoughts on this song</ion-label>
      <ion-textarea rows="4" [(ngModel)]="caption"></ion-textarea>
    </ion-item>
    <ion-footer>
        <ion-button fill="outline" color="primary" (click)="save()">
          Post
        </ion-button>
    </ion-footer>
  </div>
</ion-content>