<ion-content no-padding>
  <div class="wrapper">
    <img [src]="post.albumArt" alt="albumArt">
    <ion-label style="text-align:center; font-size: 22px">
      <h2>{{ post.songName}}</h2>
      <h2>{{ post.artistName }}</h2>
    </ion-label>
    <ion-item>
      <ion-label style="margin:4px" position="floating">Share your thoughts on this song</ion-label>
      <ion-textarea rows="3" [(ngModel)]="caption"></ion-textarea>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <ion-button expand='block' (click)="closeModal()">
            <ion-icon slot="end" name="arrow-round-back"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
        <ion-col width-50>
          <ion-button expand='block' (click)="save()">
            Post
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>