<ion-header>
  <ion-toolbar>
    <ion-title>Post Song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="post.albumArt" alt="albumArt">
  <ion-label  style="text-align:center">
      <h1>{{ post.songName}}</h1>
      <h1>{{ post.artistName }}</h1>
    </ion-label>
    <ion-item>
        <ion-label position="floating">Share your thoughts on this song</ion-label>
        <ion-textarea rows="4" [(ngModel)]="caption"></ion-textarea>
      </ion-item>      
    <ion-footer>
        <ion-toolbar color="primary">

          <ion-button fill="clear" color="light" (click)="save()">

            </ion-button>
        </ion-toolbar>
      </ion-footer>
      
</ion-content>

<!-- <ion-item>
    <ion-thumbnail slot="start">
      <img [src]="item.album.images[0].url">
    </ion-thumbnail>
    <ion-label>
      <h2>{{item.artists[0].name}}</h2>
      <p>{{item.name}}</p>
    </ion-label>
    <ion-button fill="outline" slot="end" (click)="selectSong(item.id,item.artists[0].name,item.name,item.album.images[0].url)" [routerLink]="['create-song']">View</ion-button>
  </ion-item>
   -->