<ion-item>
    <ion-label>
      Enter name for the group:
    </ion-label>
    <ion-label color="primary" position="floating" stacked>Group Name</ion-label>
    <ion-input color="dark" type="text" (ionChange)="groupNameUpdate($event)"></ion-input>
</ion-item>

  <ion-grid *ngIf="memberList.length != 0">
    <ion-row >
              <ion-col  size="4" *ngFor="let member of memberList">
                <ion-row class="userCol" (click)="memberDelete(member.uid, member)">
                  <ion-col size="9">
                      <!-- {{member.displayName | stringConvert: ""}} -->
                      {{ stringConvert(member.displayName) }}
                  </ion-col>
                  <ion-col size="3">
                      <ion-icon name="close" size="small"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" align="center">
            <ion-button color="primary" (click)="saveGroup()">
              Create Group Chat
            </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  
<ion-searchbar mode="ios" placeholder="Search People" (ionChange)="search($event)"></ion-searchbar>

<ion-list lines="full">
  <div class="spinner-holder" align="center">
    <ion-spinner name="crescent" *ngIf="showSpinner"></ion-spinner>
  </div>
  <ion-item *ngFor="let user of users">
    <app-user-group [user]="user"></app-user-group>
  </ion-item>
  <p text-center *ngIf="users.length == 0">No results found</p>
</ion-list>

