#closeBtn {
    font-size: 1.2em;
    align-self: center;
}


.userItem {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 0;
}

.userCol{
    background-color: lightgray;
    border: solid lightgray;
    border-radius: 15px;
}

ion-list {
    width: 100%;
}

ion-item {
    width: 100%;
}

ion-icon {
    align-self: flex-end;
    margin-right: 5px;
}