#closeBtn {
    font-size: 1.2em;
    align-self: center;
}


.userItem {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 0;
}

ion-list {
    width: 100%;
}

ion-item {
    width: 100%;
}