<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button>
        <ion-icon icon="search" id="search"></ion-icon>
      </ion-menu-button>
      <ion-title text-center>Home</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>    
    <!-- <ion-button shape='round' (click)="logEvent()" >Click Me To Test Analytics</ion-button> -->
  <app-post-list></app-post-list>
</ion-content>