  <div style="margin-top:1.5%;text-align:center;" *ngIf="!spotifyService.loggedIn" class="not-connected">
    Connect with spotify to enable searching spotify
    <ion-button expand="full" (click)="spotifyService.authWithSpotify()"> Connect to spotify</ion-button>
  </div>

  <ion-searchbar *ngIf="spotifyService.loggedIn" mode="ios" [(ngModel)]="searchTerm" placeholder="Search Spotify" (ionChange)="searchSpotify()"></ion-searchbar>


  <div class="spinner-holder" align="center">
      <ion-spinner name="crescent" *ngIf="showSpinner"></ion-spinner>
  </div>
  <ion-item *ngFor="let item of items">
    <app-spotify-search-result [item]="item"></app-spotify-search-result>
  </ion-item>

