<ion-header>
  <ion-toolbar>
      <ion-row style="margin-top:2%">
          <ion-buttons>
            <ion-button (click)="goBack()" color="primary" fill="clear">
              <ion-icon size="large" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-col size="6">
            <ion-title>
              Chat
            </ion-title>
          </ion-col>
          <ion-col size="4">
            <ion-buttons>
              <ion-button class="blockBtn" *ngIf="!isBlocked" (click)="blockUser()" color="primary" fill="clear">
                <ion-label>Block</ion-label>
                <ion-icon class="settingsIcon" size="small" name="person"></ion-icon>
              </ion-button>
              <ion-button class="blockBtn" *ngIf="isBlocked" (click)="unBlockUser()" color="primary" fill="clear">
                  <ion-label color="danger">Un-block</ion-label>
                  <ion-icon class="settingsIcon" size="small" name="person"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row> 
      </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <message-list [chat]="chat"></message-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <message-add [chat]="chat"></message-add>
  </ion-toolbar>
</ion-footer>
