<ion-header>
  <ion-toolbar>
      <ion-row style="margin-top:2%">
          <ion-buttons>
            <ion-button (click)="goBack()" color="primary" fill="clear">
              <ion-icon size="large" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-col size="8">
            <ion-title>
              Chat
            </ion-title>
          </ion-col>
          <ion-col size="3">
            <ion-icon size="large" name="settings" (click)="blockUser()"></ion-icon>
          </ion-col>
        </ion-row> 
      </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <message-list [chat]="chat"></message-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <message-add [chat]="chat"></message-add>
  </ion-toolbar>
</ion-footer>
