<ion-list lines="full">
  <div class="spinner-holder" align="center">
    <ion-spinner name="crescent" *ngIf="showSpinner"></ion-spinner>
  </div>
  <ion-item [ngClass]="cssClass" *ngFor="let chat of chats">
    <group-chat [currentChat]="chat"></group-chat>
  </ion-item>
</ion-list>

<ion-grid *ngIf="chats.length == 0 && showSpinner == false">
    <ion-row>
        <ion-col style="text-align: center; color: darkgray">
            
                You are not currently in any group chats.<br/>
                Click the plus icon below to create a group chat.
              
        </ion-col>
    </ion-row>
</ion-grid>
