<ion-card mode='ios' *ngIf="post && !searchResult" >
  <ion-img [src]="post.albumArt"></ion-img>
  <ion-card-header style="text-align:center">
    <ion-card-subtitle>{{ post.songName }}</ion-card-subtitle>
    <ion-card-title>{{ post.artistName }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div text-wrap style="word-wrap: break-word; word-break: break-all;">
        Username: {{ post.caption }}
    </div>
  </ion-card-content>
  <ion-card-content style="margin:8px">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-button (click)="follow()" [fill]="buttonFill" size="small" shape="round">{{btnValue}}</ion-button>
    <div class="timestamp">
        {{ post.createdAt | dateTimeConvert:'' }}
    </div>
  </ion-card-content>
</ion-card>
