// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

app-spotify-search-result {
  width: 100%;
}

app-youtube-search-result {
    width: 100%;
}

fa-icon {
  font-size: 1.4rem
}
app-post-list {
  width: 100%;
}
app-post{
  width: 100%;
}
app-tagged-post-list {
  width: 100%;
}
app-tagged-post{
  width: 100%;
}
app-user {
  width: 100%;
}
app-initial-user-result {
  width: 100%;
}
app-general-user-search-result {
  width: 100%;
}
app-comment {
  width: 100%;
}
app-comment-list {
 width: 100%;
}

app-notification-list {
  width: 100%;
}

app-notification {
  width: 100%;
}

app-user-group {
  width: 100%;
}

app-user-list-group {
  width: 100%;
}