.postSong{
    border-bottom: 1px,solid, black;
    height: 12%;
    width: 100%;
}
.smallArt{
    height: 17%;
    width: 17%;
    float:left;
}
.songNameAndArtist{
    padding-left: 2%;
}
.card-ios-margin-top{
    margin-top:0px;
}