<!-- <ion-header>
  <ion-toolbar>
    <ion-row style="margin-top:0.5%">
      <ion-buttons>
        <ion-button (click)="goBack()" color="primary" fill="clear">
          <ion-icon size="large" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-col size="5">
        <ion-title>
           Comments
        </ion-title> 
      </ion-col>
    </ion-row>
    <ion-item class="selected"  lines="none">
      <img src={{post.albumArt}} slot="start" class="smallArt">
      <ion-card-title>{{post.songName}}</ion-card-title>
      <ion-card-subtitle slot="end">{{post.artistName}}</ion-card-subtitle>
    </ion-item>
  </ion-toolbar>
</ion-header> -->


 